<div class="footer_holder">
    <div class="links_holder">
        <p class="link_header">Quick Links</p>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
    </div>
    <div class="links_holder">
        <p class="link_header">About Us</p>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
    </div>
    <div class="links_holder">
        <p class="link_header">Contact Us</p>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
        <a href="#">Links....</a>
    </div>
</div>
