<section class="testimonials-container">
    <div class="left">
    <div class="testimonial-card">
        <div class="header">
            <h4>This is the header of the card</h4>
        </div>
        <div class="info">
            <span>Eteka Clement</span>
            <p>Software Developer</p>
        </div>
        <img src="/images/tech.jpg" alt="">
    </div>
    <div class="testimonial-card">
        <div class="header">
            <h4>This is the header of the card</h4>
        </div>
        <div class="info">
            <span>Eteka Clement</span>
            <p>Software Developer</p>
        </div>
        <img src="/images/techie.jpg" alt="">
    </div>
    </div>
    <div class="right">
        <h2>What our clients and students say</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates inventore earum sed excepturi vitae quisquam, possimus ipsam, nihil placeat reiciendis necessitatibus nobis nemo illo iure recusandae, veniam accusantium quod doloremque.</p>
        <a href="#">Learn more...</a>
    </div>
</section>
