<section class="courses_section">
    <div class="header">Our Courses</div>
    <div class="course_container">
        <div class="course_div_holder">
            <img src="/images/techie.jpg" alt="">
            <div class="course_info">
                <span>course title or something related to the course goes in here..</span>
                <p>other info...</p>
            </div>
        </div>
        <div class="course_div_holder">
            <img src="/images/gpt.jpg" alt="">
            <div class="course_info">
                <span>course title or something related to the course goes in here..</span>
                <p>other info...</p>
            </div>
        </div>
        <div class="course_div_holder">
            <img src="/images/unity.jpg" alt="">
            <div class="course_info">
                <span>course title or something related to the course goes in here..</span>
                <p>other info...</p>
            </div>
        </div>
    </div>
</section>